header {
    background: rgb(137, 134, 134);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}

body {
    font-family: Arial, sans-serif;
    background: url("cal.jpg") no-repeat center center fixed;
    background-size: cover;   /* Makes image cover whole screen */
    text-align: center;
    padding: 40px;
}


.calculator {
    width: 360px;
    margin: auto;
    padding: 30px;
    padding-bottom: 60px;
    background: white
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 260px;
    height: 60px;
    margin-bottom: 25px;
    text-align: right;
    font-size: 26px;
    padding-right: 10px;
    border: 1px solid #817979;
    border-radius: 6px;
}

button {
    width: 60px;
    height: 55px;
    margin: 7px;
    font-size: 20px;
    border: none;
    background: #f4eeee;
    color: rgb(145, 138, 138);
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #6e6262;
}

.clear-btn {
    width: 260px;
    height: 55px;
    background: #c0392b;
    margin-top: 15px;
}
